---
import BaseLayout from "@/layouts/BaseLayout.astro";

const { lang } = Astro.props;

const title = "Blog";
const description = "Latest articles.";
const permalink = `${Astro.site!.href}/${lang}/blog`;

let allPosts;
switch (lang.toLowerCase()) {
  case "es":
    allPosts = await Astro.glob("../../../data/blog-posts/es/*.md");
    break;
  default:
    allPosts = await Astro.glob("../../../data/blog-posts/en/*.md");
    break;
}

const sortedPost = allPosts.reverse();
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="blog"
  lang={lang}
>
  <div class="container">
    {
      sortedPost.map((post, index) => {
        const href = `/${lang}/blog/${post.file.split("/").pop()?.split(".").shift()}`;
        return (
          <a href={href}>
            <div>
              {index !== 0 && <hr />}
              <div class="post-item">
                <h2>/> {post.frontmatter.title}</h2>
                <p>{post.frontmatter.description}</p>
                <div class="post-item-footer">
                  <span class="post-item-date">
                    {post.frontmatter.publishDate}
                  </span>
                </div>
              </div>
            </div>
          </a>
        );
      })
    }
  </div>
</BaseLayout>

<style>
  h2,
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  p {
    margin-top: 15px;
  }

  .post-item-date {
    color: var(--text-secondary);
    display: block;
    text-align: right;
    text-transform: uppercase;
    margin-top: 16px;
    transition: color 0.3s ease;
  }

  a:hover .post-item-date {
    color: var(--primary-color);
  }

  hr {
    margin: 30px auto;
  }
</style>
