---
import { type Project } from "@interfaces/project.interface";

import Skills from "@components/cv/Skills.astro";
import GitHub from "@icons/GitHub.astro";

const { project }: Project = Astro.props;
---

<article>
  <header>
    <h3>
      {project.name}

      {
        project.github && (
          <a
            class="github-code-link"
            href={project.github}
            target="_blank"
            title={`${project.name}`}
          >
            <GitHub />
          </a>
        )
      }
    </h3>
    <div class="header-card">
      {
        project.image && (
          <div
            class="project-header-logo-block"
            style="min-height: 150px; min-width: 150px;"
            class={project.url ? "" : "disabled"}
          >
            <a href={project.url} target="_blank" title={`${project.name}`}>
              <img
                class="logo-img"
                src={project.image}
                alt="project logo image"
              />
            </a>
          </div>
        )
      }

      <p>{project.description}</p>
    </div>
  </header>
  <ul class="subproject-list">
    {
      project.children &&
        project.children.map((subproject: Project) => {
          return (
            <li class="subproject-card">
              <h3 class="subproject-card-title">
                {subproject.name}{" "}
                {subproject.github && (
                  <a
                    class="github-code-link"
                    href={subproject.github}
                    target="_blank"
                    title={`${subproject.name}`}
                  >
                    <GitHub />
                  </a>
                )}
              </h3>
              <div class="subproject-card-content">
                <header>
                  {subproject.image && (
                    <div
                      style="margin-top: 10px;margin-bottom: 10px;"
                      class={subproject.url ? "" : "disabled"}
                    >
                      <a
                        href={subproject.url}
                        target="_blank"
                        title={`${subproject.name}`}
                      >
                        <img
                          class="logo-img"
                          src={subproject.image}
                          alt="subproject logo image"
                        />
                      </a>
                    </div>
                  )}
                </header>
                <body>
                  <p>{subproject.description}</p>
                </body>
                <footer>
                  {subproject.highlights && (
                    <Skills skills={subproject.highlights} />
                  )}
                </footer>
              </div>
            </li>
          );
        })
    }
  </ul>
</article>

<style>
  .header-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    padding-bottom: 10px;
  }

  ul {
    display: contents;
    margin-inline: -16px;
  }

  h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
    color: var(--primary-color);
  }

  .logo-img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin: 0 auto;
    border: solid 5px var(--text-secondary);
    border-radius: 25px;
    background-color: whitesmoke;

    transition:
      border 0.3s ease,
      box-shadow 0.3s ease;

    &:hover {
      border: solid var(--primary-color) 3px;
      box-shadow: var(--primary-box-shadow);
    }
  }

  .subproject-card {
    background-color: var(--card-bg-color);
    border: var(--card-border);
    border-radius: var(--card-border-radius);
    padding: 10px;

    width: 100%;
  }

  .subproject-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 20px;

    .logo-img {
      width: 100px;
      height: 100px;
    }
  }

  .disabled {
    .logo-img:hover,
    a:hover .logo-img {
      border: solid 5px var(--text-secondary);
      box-shadow: none;
    }
  }

  footer {
    font-size: 0.6rem;
  }

  header {
    min-width: 120px;
  }

  article {
    cursor: default;
    border: 1px solid transparent;
    border-radius: 15px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 16px;
    height: 100%;
    overflow: hidden;
    background-color: var(--background-body);

    box-shadow: var(--primary-box-shadow);
  }

  .github-code-link {
    margin-left: 10px;

    color: black;
    transition: all 0.5s ease;
  }

  .github-code-link:hover {
    color: var(--primary-color);
  }

  @media (width <= 740px) {
    ul {
      margin-inline: 0px;
      gap: 2%;
    }
  }
</style>
