---
import { type Project } from "@interfaces/project.interface";

import GitHub from "@icons/GitHub.astro";

const { project }: Project = Astro.props;
---

<article>
  <header>
    <h3>
      {project.name}
      {project.isActive && <span>•</span>}
    </h3>
    {
      project.image && (
        <div
          style="margin-top: 10px;margin-bottom: 10px;"
          class={project.url ? "" : "disabled"}
        >
          <a href={project.url} target="_blank" title={`${project.name}`}>
            <img
              class="logo-img"
              src={project.image}
              alt="project logo image"
            />
          </a>
        </div>
      )
    }

    <p>{project.description}</p>
  </header>
  <footer>
    {
      project.github && (
        <a
          class="github-code-link"
          href={project.github}
          target="_blank"
          title={`${project.name}`}
        >
          <GitHub />
        </a>
      )
    }
  </footer>
</article>

<style>
  .disabled {
    .logo-img:hover {
      border: solid white 5px;
      box-shadow: none;
    }
  }

  .logo-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin: 0 auto;
    border: solid white 5px;
    border-radius: 25px;
    background-color: whitesmoke;

    transition:
      border 0.3s ease,
      box-shadow 0.3s ease;

    &:hover {
      border: solid var(--primary-color) 3px;
      box-shadow: var(--primary-box-shadow);
    }
  }

  article:hover {
    border: 1px solid transparent;
    box-shadow: var(--primary-box-shadow);

    h3 {
      color: var(--primary-color);
    }

    .github-code-link {
      color: var(--primary-color);
    }
  }

  article {
    cursor: default;
    border-radius: 15px;
    border: 1px solid #f2f2f2;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    height: 100%;

    box-shadow: var(--secondary-box-shadow);

    transition:
      box-shadow 0.3s ease,
      border 0.3s ease;
  }

  article header {
    flex: 1;
  }

  article h3 {
    margin-bottom: 4px;
  }

  article a:hover {
    text-decoration: underline;
  }

  article p {
    font-size: 0.75rem;
    line-height: 1.2rem;
    margin-bottom: 4px;
  }

  article h3 span {
    color: var(--primary-color);
    animation-name: flicker;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
  }

  footer {
    width: 100%;
    flex-direction: row-reverse;
    display: flex;
    font-size: 0.6rem;
  }

  .github-code-link {
    margin-left: 10px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.5);
    }
  }

  @keyframes flicker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.25;
    }
    100% {
      opacity: 1;
    }
  }

  @media print {
    article h3 span {
      animation-name: none;
    }
  }
</style>
