---
import type { PortfolioEntry } from "@/types";
import BaseLayout from "@components/base/BaseLayout.astro";
import PageHeader from "@/components/common/PageHeader.astro";
import { markdownify } from "@lib/textConverter";
import { FaLink, FaAngleRight } from "react-icons/fa";

interface Props {
  entry: PortfolioEntry;
}

const { entry } = Astro.props;
const { title, description, projects } = entry.data;
---

<BaseLayout title={title} description={description}>
  <PageHeader title={title} />
  <section class="section-sm container">
    <div class="row justify-center">
      <div
        class="w-full glass rounded-lg p-4 inline-flex flex-wrap gap-6 justify-center [&>div]:w-64"
      >
        {
          projects.map((project) => (
            <div class="proj-container glass-t">
              <h3 class="text-center" set:html={markdownify(project.title)} />
              {project.subtitle && (
                <p set:html={markdownify(project.subtitle)} />
              )}

              <div class="buttons-container">
                {project.link && (
                  <a
                    aria-label="link"
                    href={project.link}
                    target="_blank"
                    rel="noopener noreferrer nofollow"
                    class="mr-2 glass-t shadow-none rounded flex h-8 w-8 text-txt-p dark:text-darkmode-txt-p items-center justify-center"
                  >
                    <FaLink className="h-6 w-6" />
                  </a>
                )}
                <a
                  aria-label="link"
                  href={"/portfolio" + project.internalLink}
                  rel="noopener noreferrer nofollow"
                  class="mr-2 glass-t shadow-none rounded flex h-8 w-8 text-txt-p dark:text-darkmode-txt-p items-center justify-center"
                >
                  <FaAngleRight className="h-6 w-6" />
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>

<style>
  .buttons-container {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    width: 100%;

    margin-top: 1rem;
  }

  .proj-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding-inline: 1rem;
    padding-bottom: 1rem;

    border-radius: 12px;

    transition: all 0.5s ease;
  }

  .proj-container:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
  }
</style>
