---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/cv/Hero.astro";
import Experience from "@/components/cv/Experience.astro";
import Education from "@/components/cv/Education.astro";
import Projects from "@/components/cv/Projects.astro";
import Skills from "@/components/cv/Skills.astro";

import enCV from "@/data/cv/cv-en.json";
import esCV from "@/data/cv/cv-es.json";

const { lang } = Astro.props;

const title = "Curriculum";
const description =
  "Hire me to create your web, mobile, or hybrid application. Developer specialized in crafting unique applications.";
const permalink = `${Astro?.site?.href}${lang}/cv`;

const lan = Astro.currentLocale;

let cv = enCV;
if (lan === "es") {
  cv = esCV;
}
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="cv"
  lang={lang}
>
  <div class="w-100 text-center m-5">
    <a onclick="window.print();" class="no-print">PRINT ME!</a>
  </div>
  <Hero basics={cv.basics} />
  <Skills skills={cv.skills} />

  <hr />

  <Experience work={cv.work} />

  <hr />

  <Education education={cv.education} />

  <hr />

  <Projects projects={cv.projects} />
</BaseLayout>

<style>
  hr {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  a {
    padding: 5px 15px 5px 15px;

    text-align: center;
    font-size: large;

    border: solid 3px var(--text-main);
    background-color: var(--text-main);
    color: var(--background-body);

    transition: background-color 150ms ease-in-out;
  }
  a:hover {
    background-color: transparent;
    color: var(--text-main);
  }
</style>
