---
import Section from "@common-components/Section.astro";
import Skills from "@components/cv/Skills.astro";

const { work } = Astro.props;
---

<Section title="Work History">
  <ul>
    {
      work?.map(
        ({
          name,
          startDate,
          endDate,
          position,
          summary,
          url,
          skills,
          img,
        }: any) => {
          const strDate = new Date(startDate);
          const enddate = new Date(endDate);
          const startYear =
            strDate.getMonth() + 1 + "/" + strDate.getFullYear();
          const endYear =
            endDate != null
              ? enddate.getMonth() + 1 + "/" + enddate.getFullYear()
              : "Current";
          const years = `${startYear} - ${endYear}`;

          return (
            <li>
              <article>
                <header>
                  <div class="logo-header">
                    <img src={`${img}`} alt="work icon" />
                    <div>
                      <h3>
                        <a href={url} title={`${name}`} target="_blank">
                          {name}
                        </a>
                      </h3>
                      <h4>{position}</h4>
                    </div>
                  </div>
                  <time>{years}</time>
                </header>

                <footer class="ps-5">
                  {summary.map((text: string) => {
                    return <p set:html={text} />;
                  })}
                  <div class="text-end">
                    <Skills skills={skills} />
                  </div>
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>

<style>
  img {
    object-fit: cover;

    width: 60px;
    height: 60px;
    border-radius: 14px;
    border: black solid 1px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    color: var(--primary-color-accent);
    font-weight: 500;
    margin: 0;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 200;
    margin: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: var(--primary-color-accent);
    font-size: 0.85rem;
    min-width: 102px;
  }

  .logo-header {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
  @media print {
    p {
      font-family: Arial, sans-serif;
    }
  }
</style>
