---
import Section from "./Section.astro";

import { work } from "../../data/cv/cv-en.json";
import Skills from "../../components/cv/Skills.astro";

---

<Section title="Work History">
  <ul>
    {
      work.map(
        ({ name, startDate, endDate, position, summary, highlights, url, skills }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Current";
          const years = `${startYear} - ${endYear}`;

          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>
                      <a href={url} title={`${name}`} target="_blank">
                        {name}
                      </a>
                    </h3>
                    <h4>{position}</h4>
                  </div>

                  <time>{years}</time>
                </header>

                <footer class="ps-5">
                  {summary.map(text => {
                    return (<p>{text}</p>)
                  })}
                  <Skills dataset={skills} />
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    font-weight: 200;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
