---
import ThemeToggleButton from "./ThemeToggleButton.svelte";
const { current = "", lang } = Astro.props;

const baseUrl: string = `/${lang}`;
const aboutUrl: string = `${baseUrl}/about`;
const projectsUrl: string = `${baseUrl}/projects`;
const blogUrl: string = `${baseUrl}/blog`;
---

<style>
  nav {
    align-items: center;
    display: flex;
    flex: 1;
    font-family: var(--font-family-sans);
    font-weight: 700;
    justify-content: flex-end;
    text-transform: uppercase;
  }

  a {
    color: inherit;
    text-decoration: none;
    padding: 10px 5px;
    display: block;
    position: relative;
    margin-left: 20px;
    min-width: 70px;
    text-align: center;
  }

  a:not(.selected) {
    opacity: 0.7;
  }

  a::before {
    content: "";
    position: absolute;
    transition: transform 0.3s ease;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--text-secondary);
    transform: scaleX(0);
  }

  a:hover::before,
  .selected::before {
    transform: scaleX(1);
  }

  .selected::before {
    background: var(--primary-color);
  }

  .theme-toggle-container {
    width: 75px;
  }

  .d-none {
    display: none;
  }
</style>

<nav>
  <a class={current === "" ? "selected" : ""} href={baseUrl}>home</a>
  <a class={current === "about" ? "selected" : ""} href={aboutUrl}>about</a>
  <a class={current === "projects" ? "selected" : ""} href={projectsUrl}
    >projects</a
  >
  <a class={current === "blog" ? "selected" : ""} href={blogUrl}>blog</a>
  <a class={lang === "es" ? "d-none" : ""} href="/es">🇪🇸</a>
  <a class={lang === "en" ? "d-none" : ""} href="/en">🇬🇧</a>

  <div class="theme-toggle-container">
    <ThemeToggleButton client:load />
  </div>
</nav>
