---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { events } from "../../data/events/events.json";

const title = "Events";
const description =
  "Hire me to create your web, mobile, or hybrid application. Developer specialized in crafting unique applications.";
const permalink = `${Astro?.site?.href}events`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="cv"
>
  <h1>Events</h1>
  <p>
    En esta sección aparecen todos los eventos que me parecen interesantes.
    Pondré eventos de tecnología, finanzas, empresa, negocio, economía y
    cualquier materia que considere de mi interés.
  </p>
  <p>
    Es probable que el equipo de Rolling Release asista a varios de estos
    eventos. Si nos queréis conocer, ¡escríbenos al correo para preguntar si
    vamos!
  </p>
  <table class="table-auto text-center">
    <thead>
      <th>DATE</th>
      <th>CITY</th>
      <th>NAME</th>
      <th>CATEGORY</th>
    </thead>
    <tbody>
      {
        events.map((item) => {
          return (
            <tr class="even:bg-gray-100 even:text-gray-800">
              <td>{item.date}</td>
              <td>{item.city}</td>
              <td>{item.name}</td>
              <td>{item.category}</td>
            </tr>
          );
        })
      }
    </tbody>
  </table>
</BaseLayout>

<style>
  p {
    margin-top: 2%;
  }
</style>
