---
import BaseLayout from "../../layouts/BaseLayout.astro";

import eventES from "../../data/events/event-es.json";
import eventEN from "../../data/events/event-en.json";
import { events } from "../../data/events/events.json";

const title = "Events";
const description =
  "Hire me to create your web, mobile, or hybrid application. Developer specialized in crafting unique applications.";
const permalink = `${Astro?.site?.href}events`;

const lan = Astro.currentLocale;

let eventLan = eventEN;
if (lan === "es") {
  eventLan = eventES;
}
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="events"
>
  <h1>{eventLan.title}</h1>

  {
    eventLan?.paragraphs?.map((text: string) => {
      return <p>{text}</p>;
    })
  }

  <table class="table-auto text-center">
    <thead>
      <th>DATE</th>
      <th>CITY</th>
      <th>NAME</th>
      <th>CATEGORY</th>
    </thead>
    <tbody>
      {
        events.map((item) => {
          return (
            <tr class="even:bg-gray-100 even:text-gray-800">
              <td>{item.date}</td>
              <td>{item.city}</td>
              <td>{item.name}</td>
              <td>{item.category}</td>
            </tr>
          );
        })
      }
    </tbody>
  </table>
</BaseLayout>

<style>
  p {
    margin-top: 2%;
  }
</style>
